<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create the new post</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.controls['title'].touched && form.controls['title'].invalid}"
  >
    <label for="title">Title of post:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.controls['title'].touched && form.controls['title'].invalid"
      class="validation"
    >
      <small *ngIf="form.controls['title'].hasError('required')">
        Enter title of post
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Post content:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.controls['author'].touched && form.controls['author'].invalid}"
  >
    <label for="author">Author of post</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.controls['author'].touched && form.controls['author'].invalid"
      class="validation"
    >
      <small *ngIf="form.controls['author'].hasError('required')">
        Enter author of post
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Create post</button>
</form>
