<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-control"
      [ngClass]="{invalid: form.controls['title'].touched && form.controls['title'].invalid}"
    >
      <label for="title">Title of post:</label>
      <input id="title" type="text" formControlName="title">
      <div
        *ngIf="form.controls['title'].touched && form.controls['title'].invalid"
        class="validation"
      >
        <small *ngIf="form.controls['title'].hasError('required')">
          Enter title of post
        </small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Refresh</button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
