<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter the administrator panel</h2>


  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.controls['email'].touched && form.controls['email'].invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
      class="validation"
    >
      <small *ngIf="form.controls['email'].hasError('required')">
        You must enter the email
      </small>
      <small *ngIf="form.controls['email'].hasError('email')">
          Email must be @email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.controls['password'].touched && form.controls['password'].invalid}"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.controls['password'].touched && form.controls['password'].invalid"
    >
      <small *ngIf="form.controls['password'].hasError('required')">
        Entre the password
      </small>
      <small *ngIf="form.controls['password'].hasError('minlength')">
        Password must be at least
        {{form.controls['password'].getError('minlength').requiredLength}}
        symbols in length. Now it is
        {{form.controls['password'].getError('minlength').actualLength}}
        symbols.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Sign in</button>
</form>
